

---
body_title: "Boilerplate Title"
---

{% extends "./templates/base.njk" %}

{% block body %}

<a href="/contact">Contact</a>

  <h1>{{ body_title }}</h1>
  <p>Hi, my name is Maham and this is my site and it's gonna be awesome cause I'm awesome!!!!!</p>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="index.css" rel="stylesheet" type="text/css" />
  </head>
  <head>
<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 {
  width: 100%;    
  background-color: #f1f1c1;
}
</style>
</head>

<table style="width:100%">
<div style="overflow-x:auto;">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th> 
    <th>Age</th>
  </tr>
  <tr>
    <td>Maham</td>
    <td>Altaf</td>
    <td>19</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </div>
</table>

</body>
<body>

  <body>
  <h4> What mode of transportation do you prefer? </h4>
  <form action="">
  <input type="checkbox" name="transportation" value="Car" checked > Car<br>
  <input type="checkbox" name="transportation" value="Bus" checked> Bus<br>
  <input type="checkbox" name="transportation" value="Train"> Train<br>
  <input type="checkbox" name="transportation" value="Plane"> Plane<br>
  <input type="checkbox" name="transportation" value="Bike"> Bike<br>
  <input type="checkbox" name="transportation" value="Walking" > Walking<br>
  <br>
  </form>  
  
  <form action=""> 
  <h4> What is your favorite hobby? </h4>
    <input type="radio" name="hobby" value="reading">Reading<br> 
    <input type="radio" name="hobby" value="writing">Writing<br> 
    <input type="radio" name="hobby" value="singing">Singing<br>
    <input type="radio" name="hobby" value="dancing">Dancing<br>
    <input type="radio" name="hobby" value="playing">Playing<br>
    <br>
  </form>
  
  <form action="">
  <h4> What is your favorite subject?</h4>
  <select name="subject"> 
  <option value="Math" >Math</option>
  <option value="Science">Science</option>
  <option value="English">English</option>
  <option value="SS">Social Studies</option>
  <option value="Gym">Physical Education</option>
  </select>
  </form>
  
  <br>
<p>1) Which one do you like the most?</p>
    <input type="radio" name="food" value="Pizza"> Pizza <br>
    <input type="radio" name="food" value="Cake"> Cake <br>
    <input type="radio" name="food" value="French fries"> French fries<br>
    <input type="radio" name="food" value="Pretzels"> Pretzels<br>
    
    <p>2) What is your academy?</p>
    <input type="radio" name="academy" value="STEM"> STEM <br>
    <input type="radio" name="academy" value="Pre-Med"> Pre-Med <br>
    <input type="radio" name="academy" value="Law"> Law<br>
    <input type="radio" name="academy" value="Buissness"> Buissness<br>
    
    <p>3) What is 2+2</p>
    <input type="radio" name="math" value="Pizza"> 4<br>
    <input type="radio" name="math" value="Cake"> 8 <br>
    <input type="radio" name="math" value="French fries"> 2<br>
    <input type="radio" name="math" value="Pretzels"> 0<br>
    
    <p>4) What period do you have lunch</p>
    <input type="radio" name="lunch" value="Pizza"> 6 <br>
    <input type="radio" name="lunch" value="Cake"> 7 <br>
    <input type="radio" name="lunch" value="French fries"> 8<br>
    <input type="radio" name="lunch" value="Pretzels"> 4 or 5<br>
    
    <form action="">
  <h4> What is your favorite sport?</h4>
  <select name="subject"> 
  <option value="NBA" >Basketball</option>
  <option value="MBL">Baseball</option>
  <option value="NFL">Football</option>
  <option value="FIFA">Soccer</option>
  </select>
  </form>
<br>
  <input type="submit" value="Submit">
  </body>
{% endblock %}
