<!DOCTYPE html>
<html>
  <head>

---
body_title: "Boilerplate Title"
---

{% extends "./templates/base.njk" %}

{% block body %}

<a href="/contact">Contact</a>

  <h1>{{ body_title }}</h1>
  <p>Hi, my name is Maham and this is my site and it's gonna be awesome cause I'm awesome!!!!!</p>
{% endblock %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="index.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <h4> What mode of transportation do you prefer? </h4>
  <form action="">
  <input type="checkbox" name="transportation" value="Car" checked > Car<br>
  <input type="checkbox" name="transportation" value="Bus" checked> Bus<br>
  <input type="checkbox" name="transportation" value="Train"> Train<br>
  <input type="checkbox" name="transportation" value="Plane"> Plane<br>
  <input type="checkbox" name="transportation" value="Bike"> Bike<br>
  <input type="checkbox" name="transportation" value="Walking" > Walking<br>
  <br>
  </form>  
  
  <form action=""> 
  <h4> What is your favorite hobby? </h4>
    <input type="radio" name="hobby" value="reading">Reading<br> 
    <input type="radio" name="hobby" value="writing">Writing<br> 
    <input type="radio" name="hobby" value="singing">Singing<br>
    <input type="radio" name="hobby" value="dancing">Dancing<br>
    <input type="radio" name="hobby" value="playing">Playing<br>
    <br>
  </form>
  
  <form action="">
  <h4> What is your favorite subject?</h4>
  <select name="subject"> 
  <option value="Math" >Math</option>
  <option value="Science">Science</option>
  <option value="English">English</option>
  <option value="SS">Social Studies</option>
  <option value="Gym">Physical Education</option>
  </select>
  </form>
  <br>
<p>1) Which one do you like the most?</p>
    <input type="radio" name="food" value="Pizza"> Pizza <br>
    <input type="radio" name="food" value="Cake"> Cake <br>
    <input type="radio" name="food" value="French fries"> French fries<br>
    <input type="radio" name="food" value="Pretzels"> Pretzels<br>
    
    <p>2) What is your academy?</p>
    <input type="radio" name="academy" value="STEM"> STEM <br>
    <input type="radio" name="academy" value="Pre-Med"> Pre-Med <br>
    <input type="radio" name="academy" value="Law"> Law<br>
    <input type="radio" name="academy" value="Buissness"> Buissness<br>
    
    <p>3) What is 2+2</p>
    <input type="radio" name="math" value="Pizza"> 4<br>
    <input type="radio" name="math" value="Cake"> 8 <br>
    <input type="radio" name="math" value="French fries"> 2<br>
    <input type="radio" name="math" value="Pretzels"> 0<br>
    
    <p>4) What period do you have lunch</p>
    <input type="radio" name="lunch" value="Pizza"> 6 <br>
    <input type="radio" name="lunch" value="Cake"> 7 <br>
    <input type="radio" name="lunch" value="French fries"> 8<br>
    <input type="radio" name="lunch" value="Pretzels"> 4 or 5<br>

  <input type="submit" value="Submit">
  </body>
</html>
