---
body_title: "Boilerplate Title"
---

{% extends "./templates/base.njk" %}

{% block body %}
  <h1>{{ body_title }}</h1>
  <p>Hi, my name is Maham and this is my site and it's gonna be awesome cause I'm awesome!!!!!</p>
{% endblock %}
